<div id="map-component">

  <h2>Google Map</h2>

  <div id="google-map-container" *ngIf="center">

    <div id="actions-row">
      <button (click)="showDirectionsMonkey()">Monkey</button>
      <button (click)="showDirectionsAldi()">ALDI</button>
      <button (click)="showDirectionsOldHouse()">Calf</button>
      <button (click)="clearDirections()">Clear directions</button>
    </div>

    <google-map id="google-map"
      height="500px" width="100%"
      [center]="center"
      [options]="options">

      <map-marker
        #markerRef="mapMarker"
        *ngFor="let marker of markers"
        [options]="marker.options"
        (mapClick)="openInfo(markerRef, marker)"
      >
      </map-marker>

      <map-marker *ngIf="userMarker"
        #markerRefUser="mapMarker"
        [options]="userMarker.options"
        (mapClick)="openInfo(markerRefUser, userMarker)"
      >
      </map-marker>

      <map-info-window>
        <h3>{{ infoHeader }}</h3>
        {{ infoContent }}
      </map-info-window>

    </google-map>

    <div #directionsPanel id="directions-panel">
    </div>

  </div>

</div>
